<hr>
<h2>Messages</h2>
<button id="leave">Leave</button>
<hr>
<ul id="messages">
    {% for message in messages %}
    <li class="msg">
        {{message.date}} {{message.time}}
        <br>
        {{message.content}}
        <br>
        <small>By {{message.by}}</small>
    </li>
    {% endfor %}
</ul>

<form id="message-form">
    <input id="message" name="message" type="text" placeholder="Type message..." autofocus autocomplete="off">
    <input id="send-msg" type="submit" value="Send">
</form>