<nav id="channelNavbar" class="navbar navbar-expand pr-2">
    <div class="navbar-brand text-uppercase">{{channel}}</div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-1">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#memberListSection">
                    Members
                </button>
            </li>
            <li class="nav-item ml-1">
                <button id="leave" class="btn btn-danger">Leave</button>
            </li>
        </ul>
    </div>
</nav>

<div id="msg-wrapper" class="overflow-auto h-100 my-1 p-0">
    <ul id="messages" class="my-0 mx-2 py-0 px-1">
        {% for message in messages %}
        {% if session["user"] == message.by %}
        <li class="d-flex flex-column align-items-end mb-1"> {% else %}
        <li class="d-flex flex-column align-items-start mb-1"> {% endif %}
            <div class="card msg bg-dark text-light" data-id="{{message.id}}">
                <div class="card-body px-1 py-0">
                    <div class="card-title mx-1 my-1">
                        <span class="usr-name" data-color="{{color[message.by]}}">{{message.by}}</span>
                        <small>{{message.date}} {{message.time}}</small>
                    </div>
                    <p class="card-text mx-1 my-1">
                        <span class="msg-content">{{message.content}}</span>
                    </p>
                    {% if session["user"] == message.by %}
                    <a href="#" class="card-link delete-msg mx-1 my-1">delete</a>
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<form id="message-form" class="mx-2 my-2">
    <div class="form-row">
        <div class="col-sm-10">
            <input id="message" class="form-control bg-dark border-dark text-light" name="message" type="text"
                placeholder="Type message..." autofocus autocomplete="off">
        </div>
        <div class="col-sm-2 mt-1 mt-md-0">
            <input id="send-msg" class="btn btn-primary btn-block" type="submit" value="Send">
        </div>
    </div>
</form>


<!-- Modal -->
<div class="modal fade" id="memberListSection" tabindex="-1" role="dialog" aria-labelledby="memberListSectionLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="memberListSectionLabel">Members</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-light" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="memberList">
                    {% for member in members %}
                    <li>{{member}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>