<div class="card msg" data-id="{{message.id}}" id="{{message.id}}">
    <div class="card-body px-1 py-0">
        <div class="card-title mx-1 my-1">
            <span class="usr-name" data-color="{{color}}">{{message.by}}</span>
            <small>{{message.date}} {{message.time}}</small>
        </div>
        {% if message.get("quote_msg") %}
        <a data-ref="{{message.quote_msg.id}}" onclick="jump(this)"
            class="quote-msg badge badge-secondary text-light text-left text-wrap">
            <div class="card-body p-0">
                <div class="card-title mb-1 font-weight-bold">{{message.quote_msg.by}}</div>
                <p class="card-text">
                    {{message.quote_msg.content}}
                </p>
            </div>
        </a>
        {% endif %}
        <p class="card-text mx-1 my-1">
            <span class="msg-content">{{message.content}}</span>
        </p>
        <a href="#" class="card-link reply-msg mx-1 my-1" data-toggle="modal" data-target="#replyModal">reply</a>
        {% if include_delete %}
        <a href="#" class="card-link delete-msg mx-1 my-1">delete</a>
        {% endif %}
    </div>
</div>