{% extends "layout.html" %}

{% block title %}
Sign In
{% endblock %}

{% block body %}
<div class="container mt-5">
    <form id="signin-form" action="{{ url_for('signin')}}" method="POST">
        <div class="form-row">
            <div class="col-xs mx-auto">
                <input id="display-name" class="form-control form-control-lg bg-secondary border-secondary text-light"
                    placeholder="Display name" name="display_name" autofocus autocomplete="off" required>
            </div>
        </div>
        <div class="form-row mt-2">
            <div class="mx-auto">
                <input id="btn-signin" class="btn btn-primary btn-lg" type="submit" value="Sign in">
            </div>
        </div>
    </form>
</div>
{% endblock %}